body {
    text-align: center;
}

.score-panel {
    width: 505px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1.75em;
    display: flex;
    font-size: 1.2em;
    padding-top: 10px;
}

.collectibles,
.points {
    width: 20%;
    display: flex;
}

.lives {
    width: 60%;
    display: flex;
}